HELP.md
.gradle
build/
cmake-build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### PS3 Firmware ###
firmware/PS3UPDAT.PUP
firmware/*.PUP
!firmware/README.md

### PS3 Helper Build Outputs ###
artifacts/
homebrew/ps3-update-helper/ps3-update-helper.elf
homebrew/ps3-update-helper/ps3-update-helper.self
homebrew/ps3-update-helper/ps3-update-helper.fake.self
homebrew/ps3-update-helper/ps3-update-helper.pkg
homebrew/ps3-update-helper/ps3-update-helper.gnpdrm.pkg
